<?xml version="1.0"?>
<!--
/**
 * Zenstores
 *
 * @category    Zenstores
 * @package     Zenstores_Core
 * @copyright   Copyright (c) 2015 Mechfeed Ltd (Zenstores) (https://www.zenstores.com/)
 */
-->
<config>
    <modules>
        <Zenstores_Core>
            <version>1.0.3</version>
        </Zenstores_Core>
    </modules>
    <global>
        <helpers>
            <zenstores_core>
                <class>Zenstores_Core_Helper</class>
            </zenstores_core>
        </helpers>
        <resources>
            <zenstores_core_setup>
                <setup>
                    <module>Zenstores_Core</module>
                </setup>
            </zenstores_core_setup>
        </resources>
        <blocks>
            <resources>
                <class>Zenstores_Core_Block</class>
            </resources>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <zenstores_core after="Mage_Adminhtml">Zenstores_Core_Adminhtml</zenstores_core>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
