<?xml version="1.0"?>
<!--
/**
 * Zenstores
 *
 * @category    Zenstores
 * @package     Zenstores_Core
 * @copyright   Copyright (c) 2015 Mechfeed Ltd (Zenstores) (https://www.zenstores.com/)
 */
-->
<config>
    <sections>
        <zenstores_core translate="label" module="zenstores_core">
            <label>Zenstores API Access</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api translate="label">
                    <label>Zenstores API Access</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <logo translate="label">
                            <img_src>https://zenstores.com/static/images/zenstores-logo@2x.png</img_src>
                            <img_alt>Zenstores</img_alt>
                            <img_url>https://www.zenstores.com/?utm_source=magento-extension&amp;utm_medium=banner&amp;utm_campaign=Magento%20Extension%20Logo%20Link</img_url>
                            <img_width>255</img_width>
                            <frontend_model>resources/logo</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </logo>
                        <description translate="label">
                            <description>Enter the details below into your Zenstores account to link your store.</description>
                            <frontend_model>resources/description</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </description>
                        <username translate="label">
                            <label>API Username</label>
                            <frontend_model>resources/text_username</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </username>
                        <key translate="label">
                            <label>API Key</label>
                            <frontend_model>resources/text_key</frontend_model>
                            <disabled>1</disabled>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </key>
                        <endpoint translate="label">
                            <label>API Endpoint</label>
                            <frontend_model>resources/text_endpoint</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </endpoint>
                        <generate translate="label">
                            <button_label>Generate Key</button_label>
                            <frontend_model>resources/button</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </generate>
                    </fields>
                </api>
            </groups>
        </zenstores_core>
    </sections>
</config>
